[MESSAGES CONTROL]
disable=unsubscriptable-object,E1136, E1101, E1137, R,E0401, C3001, E1121, E0001, C0209,  W1514, C0302, W0621, W0622, W0102, E0633, W0702, W0613

# E0401: Unable to import 'util.utils' (import-error)
# C3001: Lambda expression assigned to a variable.
#        Define a function using the "def" keyword instead. (unnecessary-lambda-assignment)
# E1121: Too many positional arguments for method call (too-many-function-args)
# C0302: Too many lines in module (too-many-lines)
# W0621: Redefining name 'x' from outer scope (redefined-outer-name)