asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
colormath==3.0.0
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.39.3
imageio==2.28.0
importlib-resources==5.12.0
ipython==8.13.2
jedi==0.18.2
kiwisolver==1.4.4
lazy_loader==0.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mplcursors==0.5.2
networkx==3.1
numpy 
opencv-python==4.7.0.72
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
pure-eval==0.2.2
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
stack-data==0.6.2
tabulate==0.9.0
tifffile==2023.4.12
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
wcwidth==0.2.6
zipp==3.15.0
