contourpy==1.1.0
cycler==0.11.0
fonttools==4.41.0
fxpmath==0.4.8
imageio==2.31.1
importlib-resources==6.0.0
kiwisolver==1.4.4
lazy_loader==0.3
matplotlib==3.7.2
mplcursors==0.5.2
networkx==3.1
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
prompt-toolkit==3.0.39
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0
questionary==1.10.0
scikit-image==0.21.0
scipy==1.11.1
six==1.16.0
tifffile==2023.7.10
wcwidth==0.2.6
zipp==3.16.1
